@import url('tdesign-react/es/style/index.css');

html,
body,
div,
span,
p,
button,
a {
  margin: 0;
  border: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

#start,
#algo {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

#start {
  height: 100%;
}

#algo {
  min-height: calc(100% - 90px);
}
