@class-prefix-home: ~'home';

.@{class-prefix-home}-page {
  flex-direction: row;
  height: 100vh;

  &-header {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding-right: 40px;
  }
}
